html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 1200px;
    }

.header img{
    display: block;
    width: 100%;
}
.main{
    min-width: 300px;
    max-width: 1200px;
    font-size: 1.5rem;
}
.main .searching{
    display: flex;
    background-color: white;
    margin-top: 25px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: center;
}
.main .searching img{
    padding-left: 12px;
}
.main .searching input{
    background-color: transparent;
    line-height: 50px;
    border-radius: 12px;
    width: 100%;
    border-style: none;
    outline: none;
}
.main .searching input::placeholder {
    font-size: 1rem;
    color: rebeccapurple;
}
.products-list{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    list-style: none;
    gap: 30px;
}
.products-list2{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    list-style: none;
    gap: 30px;
}
.products-list img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    
}
.products-list2 img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.products-item{
    height: fit-content;
   
}
.products-item2{
    height: fit-content;
}
.figure{
    font-size: 1.6rem;
}
.footer{
    left: 0;
    position: absolute;
    background-color: white;
    min-width: 320px;
    max-width: 1200px;
}
.buttom-navegator {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;

} 
.buttom-navegator a{
    margin: auto;
    text-decoration: none;
    border-left: 2px solid rebeccapurple;
    border-right: 2px solid rebeccapurple;
    color: rebeccapurple;
    font-size: 23px;
}
.line-navegator{
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.line-navegator img{
    width: 19px;
    height: 20px;
}